@use "../util" as *;

html{
    font-size: 100%;
    box-sizing: border-box;
}

*,*::after,*::before{
    box-sizing: inherit;
    margin: 0;
    padding: 0;
}

body{
    font-family: var(--outfit);
    background-color: var(--Backgroundcolor);
    overflow-x: hidden;
}

li{
    list-style: none;
}

img{
    width: 100%;
}

ion-icon{
    font-size: rem(36);
    cursor: pointer;
}
