:root{
    --primarycolor:hsl(179, 93%, 44%);
    --blue:hsl(183, 100%, 35%);
    --lightblue:hsl(183, 49%, 63%);
    --secondarycolor:hsl(217, 10%, 25%);
    --Backgroundcolor:hsl(216, 18%, 16%);
    --white:hsl(0, 0%, 100%);
    --darkishwhite:hsl(0, 0%, 78%);
}
