html {
  font-size: 100%;
  box-sizing: border-box;
}

*, *::after, *::before {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  font-family: var(--outfit);
  background-color: var(--Backgroundcolor);
  overflow-x: hidden;
}

li {
  list-style: none;
}

img {
  width: 100%;
}

ion-icon {
  font-size: 2.25rem;
  cursor: pointer;
}

h1, h2, h3 {
  margin-top: 0;
}

a, a:visited, a:hover {
  text-decoration: none;
  display: inline-block;
}

:root {
  --primarycolor:hsl(179, 93%, 44%);
  --blue:hsl(183, 100%, 35%);
  --lightblue:hsl(183, 49%, 63%);
  --secondarycolor:hsl(217, 10%, 25%);
  --Backgroundcolor:hsl(216, 18%, 16%);
  --white:hsl(0, 0%, 100%);
  --darkishwhite:hsl(0, 0%, 78%);
}

:root {
  --outfit:"Outfit",sans-serif;
}

:root {
  --toggleimg:url(../images/menu-alt.png);
  --toggleactiveimg:url(../images/menu-x.png);
  --preloadder:url(../images/preloader.gif);
}

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem 5rem;
  position: relative;
}
.header .logo {
  width: 10rem;
}
.header .navbar-list {
  display: flex;
  align-items: center;
  gap: 2rem;
}
.header .navbar-list .navbar-links {
  color: var(--white);
  font-size: 1rem;
  font-weight: 600;
  letter-spacing: 0.125rem;
  display: inline-block;
}
.header .navbar-list .navbar-links::after {
  content: "";
  display: block;
  width: 0;
  height: 0.125rem;
  background-color: var(--primarycolor);
  transition: all 350ms;
  border-radius: 0.3125rem;
}
.header .navbar-list .navbar-links:hover::after {
  width: 100%;
}
.header .navbar-list .btn-get-courses {
  position: relative;
  overflow: hidden;
}
.header .navbar-list .btn-get-courses span {
  font-size: 1.25rem;
}
.header .navbar-list .btn-get-courses::after {
  content: "";
  width: 100%;
  height: 100%;
  transform: translateX(100%);
  transition: all 350ms ease-out;
  position: absolute;
  opacity: 20%;
  top: 0;
  left: 0;
  background-color: var(--blue);
}
.header .navbar-list .btn-get-courses:hover::after {
  transform: translateX(0);
}
.header .menu-hamburger {
  display: none;
}
@media (max-width: 63.9375em) {
  .header {
    padding: 1rem 2.5rem;
  }
}
@media (max-width: 50.625em) {
  .header {
    padding: 1rem 1.25rem;
  }
  .header .logo {
    width: 7.5rem;
  }
}
@media (max-width: 47.937rem) {
  .header .navbar-list {
    z-index: 1000;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: fixed;
    width: 60%;
    height: 100vh;
    bottom: 0;
    right: -100%;
    background-color: var(--secondarycolor);
    transition: all 350ms ease-out;
  }
  .header .navbar-list .navbar-links {
    font-size: 1.5rem;
  }
  .header .navbar-list.active {
    right: 0;
  }
  .header .menu-hamburger {
    position: absolute;
    top: 0.8rem;
    right: 0rem;
    z-index: 9999;
    display: block;
    width: 3rem;
    aspect-ratio: 1/1;
    background-color: var(--primarycolor);
    background-image: var(--toggleimg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    cursor: pointer;
  }
  .header .menu-hamburger.active {
    background-color: var(--lightblue);
    background-image: var(--toggleactiveimg);
  }
}

.btn {
  background-color: var(--primarycolor);
  color: var(--white);
  padding: 0.5rem 1rem;
  border-radius: 0.2rem;
  box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;
}

#preloadder {
  width: 100%;
  height: 100vh;
  background-color: #101010;
  background-image: var(--preloadder);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 15%;
  z-index: 100;
  position: fixed;
}
@media (max-width: 50.625em) {
  #preloadder {
    background-size: 20%;
  }
}/*# sourceMappingURL=style.css.map */