// same class is here 

.btn {
    background-color: var(--primarycolor);
    color: var(--white);
    padding: 0.5rem 1rem;
    border-radius: 0.2rem;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 6px 12px -2px, rgba(0, 0, 0, 0.3) 0px 3px 7px -3px;

}

.column-4{
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 0 2rem;
}

.column-2{
    display: grid;
    grid-template-columns: repeat(2,1fr);
}


.row{
    grid-template-rows:repeat(3,1fr);
}

.lowerpart {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    margin: 2rem 0;

    .btn-viewall {
        font-size: 1.3rem;
        font-weight: 600;
        background-color: var(--Backgroundcolor);
        color: var(--darkishwhite);
        outline: 0;
        border: none;
        box-shadow: hsla(0, 0%, 0%, 0.24) 0px 3px 8px;
        margin: 0 auto;
        transition: all 300ms ease-in-out;
        cursor: pointer;

        &:hover {
            background-color: var(--primarycolor);
            color: white;
        }
    }

}

.blur-neon{
    box-shadow: 0px 0px 25px 10px var(--secondarycolor);
    opacity: 20%;
}

.circle{
    width: 200px;
    height: 200px;
    background-color: var(--secondarycolor);
    // border: none;
    opacity: 80%;
    border-radius: 500px;
}