@use "../global" as *;
@use "../util" as *;


#faq {
    margin: 0 auto;
}

.faq{
    padding-top: 8rem ;
    padding-bottom: 8rem ;
    &_text{
        font-size: 2.8rem;
        margin: 1rem 0;
        color: var(--white);
        opacity: 80%;
    }

    &_main{
        margin: 5rem 0;

        .accordian{
            display: flex;
            justify-content: center;
            row-gap: 2rem;
            flex-direction: column;
            &_item.active{
                .answer{
                    max-height: 20rem;
                    width: 100%;
                    max-width: 100%;
                }
                .link{
                    .up{
                        display: block;
                    }

                    .down{
                        display: none;
                    }
                }
            }
            &_item{
                width: 100%;
                background-color: var(--secondarycolor);
                padding: 1rem;
                border-radius: rem(5);
                box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;

                p{
                    margin: 0;
                }

                .link{
                    display: flex;
                    justify-content: space-between;
                    font-weight: 600;
                    font-size: 1.3rem;
                    ion-icon{
                        color: var(--primarycolor);
                    }
                    .up{
                        display: none;
                        transition: display 1500ms ease-out;
                    }
                }

                .answer{
                    transition: max-height 800ms ease-in-out;
                    width: 100%;
                    max-height: 0;
                    overflow: hidden;
                    background-color: var(--Backgroundcolor);
                    padding: 0 0.5rem;
                    border-left: 4px solid var(--primarycolor);
                    p{
                        padding: 1rem;
                    }
                }

                .answer.active{
                    max-height: 20rem;
                }

            }
        }
    }
    @include breakpoint-down(x-large) {
        padding: 1rem rem(60);
    }

    @include breakpoint-down(small) {
        padding: 1rem rem(20);
    }
}