:root{
    --toggleimg:url(../images/menu-alt.png);
    --toggleactiveimg:url(../images/menu-x.png);
    --preloadder:url(../images/preloader.gif);
    --featuresimage:url('https://images.unsplash.com/photo-1605711285791-0219e80e43a3?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=1469&q=80');
}