h1,h2,h3{
    margin-top: 0;
}
p{
    font-size: rem(18);
    color: var(--darkishwhite);
    margin-bottom: 1rem;
}
a,a:visited,a:hover{
    text-decoration: none;
    display: inline-block;
}